In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
from urllib.request import urlopen

In [2]:
FILEPATH="./ut-zap50k-data/meta-data.csv"

In [3]:
data = pd.read_csv(FILEPATH)

In [19]:
data.head()

,CID,Category,SubCategory,HeelHeight,Insole,Closure,Gender,Material,ToeStyle
0,100627-72,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
1,100627-255,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
2,100657-72,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
3,100657-216,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
4,101026-3,Boots,Mid-Calf,1in - 1 3/4in,Leather;Padded,Pull-on,Men,Leather;Rubber,Square Toe;Closed Toe

In [20]:
data.shape

(50025, 9)

In [28]:
data.Material.unique().shape

(942,)

In [7]:
data.Closure.value_counts()

Lace up                                       14909
Slip-On                                       13827
Zipper                                         3961
Hook and Loop                                  3648
Pull-on                                        3516
Buckle                                         1650
Buckle;Ankle Strap                             1029
Elastic Gore;Slip-On                            894
Hook and Loop;Lace up                           417
Lace up;Zipper                                  417
Hook and Loop;Slip-On                           304
Pull-on;Zipper                                  298
Elastic Gore;Pull-on                            263
Buckle;Slip-On                                  254
Elastic Gore                                    242
Bungee                                          217
Buckle;Sling Back                               179
Lace up;Pull-on                                 144
Lace up;Slip-On                                 137
Toggle                                          135
Buckle;Pull-on                                  132
Elastic Gore;Zipper                             118
Buckle;Zipper                                   118
Bungee;Toggle                                    93
Ankle Strap;Hook and Loop                        86
Ankle Strap                                      84
Sling Back                                       69
Button Loop                                      66
Bungee;Hook and Loop                             65
Monk Strap                                       61
                                              ...
Buckle;Ankle Strap;Elastic Gore                   2
Lace up;Zipper;Toggle                             2
Slip-On;T-Strap                                   2
Bungee;Hook and Loop;Slip-On                      2
Elastic Gore;Lace up;Zipper                       2
Snap;T-Strap                                      1
Bungee;Elastic Gore;Hook and Loop;Toggle          1
Bungee;Lace up;Toggle                             1
Ankle Strap;Elastic Gore;Zipper                   1
Ankle Wrap;Button Loop                            1
Buckle;Adjustable                                 1
Bungee;Zipper;Toggle                              1
Belt;Spat Strap;Toggle                            1
Bungee;Spat Strap                                 1
Hook and Loop;T-Strap                             1
Elastic Gore;Pull-on;Zipper                       1
Elastic Gore;Lace up;Pull-on                      1
Buckle;Ankle Strap;Slip-On                        1
Ankle Wrap;Buckle;Slip-On                         1
Spat Strap                                        1
Ankle Strap;Pull-on;Slip-On                       1
Buckle;Pull-on;Snap                               1
Belt;Zipper                                       1
Ankle Wrap;Ankle Strap;Slip-On                    1
Ankle Wrap;Buckle;Hook and Loop                   1
Buckle;Hook and Loop;Slip-On                      1
Elastic Gore;Hook and Loop;Lace up;Slip-On        1
Belt;Pull-on                                      1
Buckle;Belt                                       1
Buckle;Pull-on;Toggle                             1
Name: Closure, Length: 158, dtype: int64

In [8]:
import scipy.io

In [9]:
IMG_PATHES_MAT = "./ut-zap50k-data/image-path.mat"

In [10]:
mat = scipy.io.loadmat(IMG_PATHES_MAT)

In [29]:
urls = mat['imagepath']

In [32]:
data['url'] = urls

In [41]:
data.url = data.url.apply(lambda x: x[0])

In [42]:
data.head()

,CID,Category,SubCategory,HeelHeight,Insole,Closure,Gender,Material,ToeStyle,url
0,100627-72,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe,Shoes/Oxfords/Bostonian/100627.72.jpg
1,100627-255,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe,Shoes/Oxfords/Bostonian/100627.255.jpg
2,100657-72,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe,Shoes/Oxfords/Bostonian/100657.72.jpg
3,100657-216,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe,Shoes/Oxfords/Bostonian/100657.216.jpg
4,101026-3,Boots,Mid-Calf,1in - 1 3/4in,Leather;Padded,Pull-on,Men,Leather;Rubber,Square Toe;Closed Toe,Boots/Mid-Calf/Durango/101026.3.jpg

In [57]:
data.ToeStyle = data.ToeStyle.apply(lambda x: str(x).split(';'))

In [61]:
s = data.apply(lambda x: pd.Series(x['ToeStyle']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'unique_ToeStyle'
data1 = data.join(s)

In [64]:
data1.Gender = data.Gender.apply(lambda x: str(x).split(';'))

In [65]:
s = data.apply(lambda x: pd.Series(x['Gender']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'unique_Gender'
data2 = data.join(s)

In [104]:
new_data = pd.read_csv("shoes_1.csv")

In [105]:
to_split_list = ['Closure', 'Gender', 'Material']
cdf = new_data.copy()
for col in to_split_list:
    cdf[col] = cdf[col].apply(lambda x: str(x).split(';'))
    s = cdf.apply(lambda x: pd.Series(x[col]),axis=1).stack().reset_index(level=1, drop=True)
    s.name = 'unique_' + col
    cdf = cdf.join(s)

In [106]:
cdf.head()

,CID,Category,SubCategory,HeelHeight,Insole,Closure,Gender,Material,ToeStyle,Brand,Url,unique_Closure,unique_Gender,unique_Material
0,100627-72,Shoes,Oxfords,NaN,Leather,[Lace up],[Men],[Leather],Capped Toe;Round Toe,Bostonian,Shoes/Oxfords/100627.72.jpg,Lace up,Men,Leather
1,100627-255,Shoes,Oxfords,NaN,Leather,[Lace up],[Men],[Leather],Capped Toe;Round Toe,Bostonian,Shoes/Oxfords/100627.255.jpg,Lace up,Men,Leather
2,100657-72,Shoes,Oxfords,NaN,Leather;Padded;Removable,[Lace up],[Men],[Leather],Capped Toe;Round Toe,Bostonian,Shoes/Oxfords/100657.72.jpg,Lace up,Men,Leather
3,100657-216,Shoes,Oxfords,NaN,Leather;Padded;Removable,[Lace up],[Men],[Leather],Capped Toe;Round Toe,Bostonian,Shoes/Oxfords/100657.216.jpg,Lace up,Men,Leather
4,101026-3,Boots,Mid-Calf,1in - 1 3/4in,Leather;Padded,[Pull-on],[Men],"[Leather, Rubber]",Square Toe;Closed Toe,Durango,Boots/Mid-Calf/101026.3.jpg,Pull-on,Men,Leather

In [107]:
cdf.to_csv("shoes_v2.csv")